body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #512c6c, #301a4b);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

#container {
    background: linear-gradient(to right, #301a4b, #512c6c);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #9b59b6;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #9c59b600;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ecf0f1;
    color: #333;
}

.button-container {
    display: block;
    flex-direction: column;
    /* Mudança para coluna para empilhar os botões verticalmente */
    margin-bottom: 20px;

}

button {
    flex: 1;
    padding: 12px;
    background-color: #8c03a1;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    /* Adicionado espaço entre os botões */
    box-sizing: border-box;
    transition: background 0.3s ease;
}

button:last-child {
    margin-bottom: 0;
    /* Removido espaço inferior para o último botão */
}

button:hover {
    background-color: #b4217c;
}

#resultado {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #00000000;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

#resultado strong {
    font-weight: bold;
    color: #282828;
}

.campo-rendimento {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #container {
        padding: 15px;
    }

    #resultado {
        padding: 15px;
    }
}

/* a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

} */

.button-link {
    display: inline-block;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #0056b3;
}