/* Reset de margens e preenchimentos padrão */
body,
h1,
p,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Certifica-se de que a largura e altura incluem preenchimento e borda */
}

/* Estilos para o corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #6a0572, #ab83a1);
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Alterei para 'min-height' para garantir que o conteúdo esteja centralizado mesmo se for menor que 100vh */
    flex-direction: column;
}

/* Estilos para o título */
h1 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.605);
}

/* Estilos para os links */
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 12px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
    /* Alterei para 'inline-block' para evitar que os links ocupem a largura total */
    transition: background-color 0.3s ease-in-out;
}

/* Estilos para hover dos links */
a:hover {
    background-color: #242424;
    color: #fff;
}

#container {
    background: linear-gradient(to right, #301a4b, #512c6c);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    padding: 50px;
    /* Reduzi um pouco o preenchimento para ajustar o espaçamento */
    text-align: center;
}