html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ff6b6b, #556270);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculadora-container {
    border: 2px solid #8c03a1;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(49, 49, 49, 0.504);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    /* Adiciona uma transição suave */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h2 {
    color: #cfcfcf;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #8c03a1;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #b4217c;
    transform: scale(1.05);
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    /* Adiciona uma transição suave na cor de fundo */
}

p {
    margin: 10px 0;
    font-size: 16px;
}

strong {
    font-weight: bold;
}